/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework
/vendor
.env
.idea
.DS_Store
/public/.DS_Store
/tests
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
